.contact-form {
    color: #c1d1e8;
    background-color: #0e1a2b;
    /* display: inline-block; */
    padding: 20px;
    margin-bottom: 10px;
}
.label {
    display: block;
}

.contact-input {
    background-color: #182c47;
    border: none;
    color: #c1d1e8;
    margin-bottom: 40px;
    padding: 5px;
    width: 100%;

}

.contact-input:focus {
    outline: none;
}